---
layout: base
title: Gallery - GeoNode
body_class: "geonode-features sites-gallery"
---

<section class="banner">
  <div class="container">
    <div class="row" style="padding-top: 11%; padding-bottom: 10%;">
      <div class="col-sm">
        <h3>Welcome to the GeoNode gallery!</h3>
        <h4>Below are instances of GeoNode being used for achieving success across a wide variety of missions, including humanitarian, development, and environmental.</h4>
      </div>
    </div>
  </div>
</section>

{% for item in site.data.gallery %}
{% assign loopindex = forloop.index | modulo: 2 %}
<section class="feature-details feature2">
  <div class="container">
    <div class="row">
	  {% if loopindex == 1 %}
	  <div class="col-8">
        <div class="highlighted-box">
          <h2>{{ item.title }}</h2>
          <h4>{{ item.subtitle }}</h4>
          <div>
            <p>{{ item.description }}
            </p>
            <p>
              Find it online at <a href="{{ item.url }}" target="_new">{{ item.subtitle }}</a>.
            </p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <a href="{{ item.url }}" target="_new"><img src="../static/img/{{ item.image }}" width="325" height="168" alt="{{ item.title }}" class="feature-img thumbnail" /></a>
      </div>
	  {% else %}
	  <div class="col-4">
        <a href="{{ item.url }}" target="_new"><img src="../static/img/{{ item.image }}" width="325" height="168" alt="{{ item.title }}" class="feature-img thumbnail" /></a>
      </div>
	  <div class="col-8">
        <div class="highlighted-box">
          <h2>{{ item.title }}</h2>
          <h4>{{ item.subtitle }}</h4>
          <div>
            <p>{{ item.description }}
            </p>
            <p>
              Find it online at <a href="{{ item.url }}" target="_new">{{ item.title }}</a>.
            </p>
          </div>
        </div>
      </div>
	  {% endif %}
    </div>
	
  </div>
</section>
{% endfor %}

{% include footer.html %}
