<footer class="gn-footer">
  <div class="container">
    {% if important_links %}
    {% include important_links.html %}
    {% endif %}

    <div class="gn-footer-bottom">
      <p class="mb-0">This <a href="http://github.com/geonode/geonode.github.com/" target="_blank">website</a> is licensed <a href='https://github.com/GeoNode/geonode/blob/master/license.txt'>CC by SA</a> &middot; <a href='https://github.com/GeoNode/geonode/blob/master/AUTHORS'>GeoNode Contributors 2026</a> &middot; Designed by <a href="https://www.geosolutionsgroup.com/" target="_blank">GeoSolutions</a></p>
      <div class="gn-social">
        <a href="http://github.com/geonode/" target="_blank" aria-label="GitHub"><i class="fa fa-github-alt"></i></a>
        <a href="https://twitter.com/GeoNode" target="_blank" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
</footer>
