<footer class="footer">
  <div class="container">
    {% if important_links %}
    {% include important_links.html %}
    {% endif %}

    <section class="btm">
      <div class="row">
        <div class="col-md-10">
        <div class="col-md-6">
          <p>This <a href="http://github.com/geonode/geonode.github.com/" target="_blank">Website</a> is licensed <a href='https://github.com/GeoNode/geonode/blob/master/license.txt'>CC by SA 2022.</a> - <a href='https://github.com/GeoNode/geonode/blob/master/AUTHORS'>GeoNode Contributors.</a> Designed by <a href="http://www.spatialdev.com/" target="_blank">Spatial Dev</a></p>
        </div>
        <div class="col-md-2">
          <div class="pull-right social">
            <a href="http://github.com/geonode/" target="_blank" alt="GitHub"><i class="fa fa-github-alt"></i></a>
            <a href="https://twitter.com/GeoNode" class="tw" target="_blank" alt="Twitter"><i class="fa fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </section>
  </div>
</footer>
