<header class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-lg-2 col-sm-3 col-xs-2"><a class="brand" href="{{ site.baseurl }}/">GeoNode</a></div>
      <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
        <div class="btn-group nav-coll">
          <button type="button" class="btn-nav-coll" data-toggle="dropdown">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/user_features.html">For Users</a></li>
            <li><a href="{{ site.baseurl }}/dev_features.html">For Developers</a></li>
            <li><a href="{{ site.baseurl }}/admin_features.html">For Admins</a></li>
            <li><a href="http://docs.geonode.org/en/latest/tutorials/">Workshops</a></li>
            <li><a href="{{ site.baseurl }}/communication/">Communication</a></li>
            <li><a href="{{ site.baseurl }}/faqs">FAQs</a></li>
            <li><a href="{{ site.baseurl }}/gallery/">Sites Gallery</a></li>
            <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
            <li><a href="http://docs.geonode.org" target = "_blank">Documentation</a></li>
            <li><a href="http://github.com/geonode/geonode/issues" target = "_blank">Issue Tracker</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-7 col-lg-8 col-sm-7">
        <div class="pull-right">
          <a href="{{ site.baseurl }}/#install" class="btn btn-success">Install GeoNode</a>
          <a target="_blank" href="http://demo.geonode.org" class="btn btn-warning">Try the Demo</a>
          <a href="{{ site.baseurl }}/blog/" class="btn btn-success">Read our Blog</a>
        </div>
      </div>
    </div>
  </div>
</header>
