<div class="gn-resource-grid mb-4">
  <a class="gn-resource-card" href="https://docs.geonode.org" target="_blank">
    <i class="fa fa-print"></i>
    <div>
      <h3>Documentation</h3>
      <p>Guides for users, developers, and administrators</p>
    </div>
  </a>

  <a class="gn-resource-card" href="{{site.baseurl}}/communication/#mailing-lists">
    <i class="fa fa-envelope-o"></i>
    <div>
      <h3>Channels</h3>
      <p>Discussion groups for users and developers</p>
    </div>
  </a>

  <a class="gn-resource-card" href="https://github.com/GeoNode/geonode/issues" target="_blank">
    <i class="fa fa-pencil-square-o"></i>
    <div>
      <h3>Issue Tracker</h3>
      <p>Bugs, feature requests, and development roadmap</p>
    </div>
  </a>

  <a class="gn-resource-card" href="{{site.baseurl}}/gallery/">
    <i class="fa fa-picture-o"></i>
    <div>
      <h3>Gallery</h3>
      <p>A collection of live sites built using GeoNode</p>
    </div>
  </a>

  <a class="gn-resource-card" href="{{site.baseurl}}/faqs">
    <i class="fa fa-question-circle"></i>
    <div>
      <h3>FAQs</h3>
      <p>Frequently Asked Questions about GeoNode</p>
    </div>
  </a>

  <a class="gn-resource-card" href="https://github.com/GeoNode/geonode/blob/master/CONTRIBUTING.md" target="_blank">
    <i class="fa fa-desktop"></i>
    <div>
      <h3>Contribute</h3>
      <p>Contribute with the development of GeoNode</p>
    </div>
  </a>
</div>
