<section class="important-links">
  <div class="row justify-content-center">
    <div class="row documentation-items">
      <div class="col-md-6">
          <div class="col-md-12 d-flex flex-row">
            <i class="fa fa-print fa-3x col-md-2"></i>
            <a class="col-md-10" href="https://docs.geonode.org" target="_blank">
              <article class="documentation">
                <h3>Documentation</h3>
                <p>Guides for users, developers, and administrators</p>
              </article>
            </a>
          </div>

        <div class="col-md-12 d-flex flex-row">
          <i class="fa fa-envelope-o fa-3x col-md-2"></i>
          <a class="col-md-10" href="{{site.baseurl}}/communication/#mailing-lists">
            <article class="mailing-list">
              <h3>Channels</h3>
              <p>Discussion groups for users and developers</p>
            </article>
          </a>
        </div>

        <div class="col-md-12 d-flex flex-row">
        <i class="fa fa-pencil-square-o fa-3x col-md-2"></i>
          <a class="col-md-10" href="https://github.com/GeoNode/geonode/issues" target="_blank">
            <article class="issue-tracker">
              <h3>Issue Tracker</h3>
              <p>Bugs, feature requests, and development roadmap</p>
            </article>
          </a>
        </div>
      </div>

      <div class="col-md-6">
        <div class="col-md-12 d-flex flex-row">
        <i class="fa fa-picture-o fa-3x col-md-2"></i>
          <a class="col-md-10" href="{{site.baseurl}}/gallery/">
            <article class="sites-gallery">
              <h3>Gallery</h3>
              <p>A collection of live sites built using GeoNode</p>
            </article>
          </a>
        </div>

        <div class="col-md-12 d-flex flex-row">
          <i class="fa fa-question-circle fa-3x col-md-2"></i>
          <a class="col-md-10" href="{{site.baseurl}}/faqs">
            <article class="faqs">
              <h3>FAQs</h3>
              <p>Frequently Asked Questions about GeoNode</p>
            </article>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
