#header-container{
  width: 100%;
}

#header {
  height: 600px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  max-width: 1280px;
  width: 100%;
}

#nav {
  bottom: 1%;
  display: none;
  right: 6%;
  position: absolute;

  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  -ms-transition-duration: .5s;
  transition-duration: .5s;
}

#nav li {
  display: inline-block;
  height: 140px;
}

#nav li img {
  cursor: pointer;
  opacity: 0.5;

  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -ms-transition-duration: 1s;
  transition-duration: 1s;
}

#nav li img.active {
  opacity: 1;
}

#sequence li{
  height: 100%;
  position: absolute;
  top: -70%;
  width: 100%;
}

#sequence li * {
  position: absolute;
}

#sequence {
  display: block;
  height: 100%;
  margin: 0;
  position: absolute;
  max-width: 1280px;
  width: 100%;
  
  /*backface-visibility prevents graphical glitches when frames are animating*/
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}


.title {
  left: 5%;
  width: 50%;
  opacity: 0;
  bottom: 1%;
  z-index: 50;
}

.title.animate-in {
  left: 0%;
  opacity: 1;

  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  -ms-transition-duration: .5s;
  transition-duration: .5s;
}

.title.animate-out {
  left: 5%;
  opacity: 0;

  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  -ms-transition-duration: .5s;
  transition-duration: .5s;
}

.subtitle {
  left: 10%;
  width: 50%;
  opacity: 0;
  top: 101%;
}

.subtitle.animate-in {
  left: 0%;
  opacity: 1;

  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  -ms-transition-duration: .5s;
  transition-duration: .5s;
}

.subtitle.animate-out {
  left: 10%;
  opacity: 0;

  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  -ms-transition-duration: .5s;
  transition-duration: .5s;
}

.model {
  right: 0%;
  bottom: -20%;
  opacity: 0;
  position: relative;
  height: auto !important;
  max-height: 568px !important;
  width:460px;
}

.model.animate-in {
  right: 3%;
  opacity: 1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -ms-transition-duration: 1s;
  transition-duration: 1s;
}

.model.animate-out {
  right: 0%;
  opacity: 0;

  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  -ms-transition-duration: .5s;
  transition-duration: .5s;
}

