{% extends "base.html" %}

{% block title %} Gallery — {{ block.super }} {% endblock %}

{% block body_class %}geonode-features sites-gallery{% endblock %}

{% block content %}
        <section class="banner">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <h1>
                            <strong>Hello</strong>,<br />
                            <span>Welcome to the <strong>GeoNode</strong> Gallery</span>
                        </h1>
                    
                    </div>
                    <div class="span6">
                        <img src="../static/img/features_hero_img.png" width="489" height="216" alt="" class="pull-right hero-img" />
                    </div>
                </div>
            </div>
        </section>
        <section class="body">
            <div class="container">
                <div class="row">
                    <div class="hide btn btn-success">
                        <nav class="subnav">
                            <h5>Entries by Region:</h5>
                            <ul class="unstyled">
                                <li><a href="#africa"><strong>Africa</strong></a></li>
                                <li><a href="#americas"><strong>Americas</strong></a></li>
                                <li><a href="#asiapacific"><strong>Asia Pacific</strong></a></li>
                                <li><a href="#europe"><strong>Europe</strong></a></li>
                                <li><a href="#worldwide"><strong>World Wide</strong></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        {% for gallery_item in gallery %}
        {% cycle 'odd' 'even' as parity silent %}
        {% cycle 'feature3' 'feature2' as feature_detail_class silent %}
        <section class="feature-details {{feature_detail_class}}" id="{{gallery_item.region}}">
            <div class="container">
                <div class="row">
                    <div class="{% cycle 'span5' 'span7' %}">
                        {% if parity == 'odd' %}
                        <a href="{{gallery_item.url}}" target="_new"><img src={{gallery_item.screenshot}} width="{{gallery_item.screenshot_width}}" height="{{gallery_item.screenshot_height}}" alt="{{gallery_item.title}}" class="feature-img thumbnail" /></a>
                        {% else %}
                        <div class="highlighted-box">
                                <h2>{{gallery_item.title}}</strong></h2>
                                <h4>{{gallery_item.subtitle|default:"&nbsp"}}</h4>
                                    <div>
                                        <p>
                                        {{gallery_item.description|safe}}
                                        </p>
                                        {% if gallery_item.url %}
                                        <p>
                                            Find it online at <a href="{{gallery_item.url}}" target="_new">{{gallery_item.title}}</a>.
                                        </p>
                                        {%endif%}
                                    </div>
                            </div>
                        {% endif %}
                    </div>
                         <div class="{% cycle 'span7' 'span5' %}">
                            {% if parity == 'odd' %}
                             <div class="highlighted-box">
                                <h2>{{gallery_item.title}}</strong></h2>
                                <h4>{{gallery_item.subtitle|default:"&nbsp"}}</h4>
                                    <div>
                                        <p>
                                        {{gallery_item.description|safe}}
                                        </p>
                                        {% if gallery_item.url %}
                                        <p>
                                            Find it online at <a href="{{gallery_item.url}}" target="_new">{{gallery_item.title}}</a>.
                                        </p>
                                        {%endif%}
                                    </div>
                            </div>
                             {%else%}
                             <a href="{{gallery_item.url}}" target="_new"><img src={{gallery_item.screenshot}} width="{{gallery_item.screenshot_width}}" height="{{gallery_item.screenshot_height}}" alt="{{gallery_item.title}}" class="feature-img thumbnail" /></a>
                             {%endif%}
                        </div>
                </div>
            </div>
        </section>
        {% endfor %}

        {% comment %}
        {% endcomment %}
{% endblock content %}
