---
layout: base
title: Blog - GeoNode
body_class: "geonode-features"
---    

<style>

.blogs li{
  list-style: none;
  margin-top: 20px;
  margin-left: 10px;
}
.blogs h1 {
  margin-top: 20px;
}
</style>

<section class="feature-detail">
 <div class="container">
   <div class="row">
    <div class="span12">
      <ul class="blogs">
        {{ assign year = '2009' }}
        {% for post in site.posts %}
        {% capture cur_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% if cur_year != year %}
        {% capture year %}{{ post.date | date: "%Y" }}{% endcapture %}
        <h1>{{ post.date | date: "%Y" }}</h1>
        {% endif %}
        <li>
          <h2><a href="{{site.baseurl}}/{{ post.url }}">{{ post.title }}</a></h2>
          <p>{{ post.date | date_to_string }}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
</section>

{% include footer.html %}
