{% extends "base.html" %}

{% block title %} Admin Features — {{ block.super }} {% endblock %}

{% block body_class %}geonode-features admin-features{% endblock %}

{% block content %}
        <section class="banner">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <h1>
                            <strong>For Administrators</strong><br />
                            <span>Learn more about the administrative features of <strong>GeoNode</strong></span>
                        </h1>
                        <div class="">
                            <a href="{{ admin_workshop }}" class="btn btn-success" target="_blank">Follow the <strong>Administrators Workshop</strong></a>
                        </div>

                    </div>
                    <div class="span6">
                        <img src="static/img/features_hero_img.png" width="489" height="216" alt="" class="pull-right hero-img" />
                    </div>
                </div>
            </div>
        </section>
        <section class="body">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <nav class="subnav">
                            <h5>Administrator Features:</h5>
                            <ul class="unstyled">
                                <li><a href="#ogcsdi">Spatial Data Infrastructure</strong></a></li>
                                <li><a href="#security"><strong>Security</strong></a></li>
                                <li><a href="#scale"><strong>Scalability</strong></a></li>
                                <li><a href="#adminconsole"><strong>Administrator Console</strong></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature-details feature1" id="ogcsdi">
            <div class="container">
                <div class="row">
                    <div class="span5">
                        <img src="static/img/noun_project_9760.svg.png" width="320" height="320" alt="Explore Maps" class="feature-img" />
                    </div>
                    <div class="span7 number one">
                        <div class="highlighted-box">
                            <h2>Spatial Data Infrastructure</strong></h2>
                            <h4>Essential components for deploying OGC-compliant services</h4>
                            <div>
                                <p>GeoNode includes the essential building blocks that an agency needs to deploy an OGC-compliant spatial data infrastructure (SDI). Having GeoServer as a foundation enables you to publish data from a wide variety of spatial data sources using open protocols from the OGC such as Web Map Service (WMS) and Web Feature Service (WFS).</p>
                                <p>GeoNode's metadata and cataloguing system also enables publishing metadata in a variety of standards (ISO, FGDC, NASA DIF, Dublin Core). The catalogue implementation, pycsw, is certified OGC-compliant and a Catalog Service for Web (CSW) reference implementation.
                                </p>
                            <ul class="unstyled">
                                <li>Web Map Service (WMS)</li>
                                <li>Web Feature Service (WFS)</li>
                                <li>Web Coverage Service (WCS)</li>
                                <li>Catalog Service for Web (CSW)</li>
                                <li>Web Map Context (WMC)</li>
                                <li>Tile Map Service (TMS)</li>
                            </ul>
                            <a href="ogc_sdi.html" class="hide btn btn-success">Learn about GeoNode for SDI</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="feature-details feature3" id="security">
            <div class="container">
                <div class="row">
                    <div class="span5">
                        <img src="static/img/noun_project_3182.svg.png" width="340" height="340" alt="Explore Maps" class="feature-img" />
                    </div>
                    <div class="span7 number three">
                        <div class="highlighted-box">
                            <h2>Security</strong></h2>
                            <h4>A framework for securing your users' data</h4>
                            <div>
                                <p>GeoNode builds on Django's authentication framework and integrates with GeoServer's security subsystem. Permissions can be applied to layers and maps and can be used to assign read, write, and edit permissions to them. Data can be freely open to the public or accessible only by authorized users.</p>
                                <p>External services for authentication are available such as oAuth and LDAP, as well as through social platforms like Facebook, Twitter, and Google+. 
                                </p>
                            <ul class="unstyled">
                                <li>Layer and map object permissions</li>
                                <li>Integration with GeoServer security at the service level</li>
                                <li>Integration with external authentication services</li>
                            </ul>
                            <a href="security.html" class="hide btn btn-success">Learn about GeoNode's security framework</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature-details feature4" id="scale">
            <div class="container">
                <div class="row">
                    <div class="span7 number four">
                        <div class="highlighted-box">
                            <h2>Scalability</strong></h2>
                            <h4>Designed for reliability under all load conditions</h4>
                            <div>
                                <p>GeoNode's web components are based on Django, used on some of the highest traffic sites on the web. Caching can be implemented at several levels including at the page and layer level. </p>
                                <p>Additionally GeoNode leverages GeoWebCache to cache map tiles dramatically improving performance for your users and making it possible to run high-traffic sites with minimal demands on your infrastructure.</p>
                                <p>GeoNode can also be deployed to cloud based services such as Amazon Web Services (AWS) or OpenShift, making scalability on those platforms automatic and frictionless. 
                                </p>
                            <ul class="unstyled">
                                <li>Cache map tiles locally or to a content delivery network (CDN)</li>
                            </ul>

                            <a href="scale.html" class="hide hide btn btn-success">Learn about deploying and scaling GeoNode</a>
                        </div>
                        </div>
                    </div>
                    <div class="span5">
                        <img src="static/img/noun_project_6853.svg.png" width="350" height="350" alt="Explore Maps" class="feature-img" />
                    </div>
                </div>
            </div>
        </section>
      <section class="feature-details feature5" id="adminconsole">
            <div class="container">
                <div class="row">
                    <div class="span5">
                        <img src="static/img/noun_project_18273.svg.png" width="290" height="290" alt="Explore Maps" class="feature-img" />
                    </div>
                    <div class="span7 number five">
                        <div class="highlighted-box">
                            <h2>Administration Console</strong></h2>
                            <h4>Leverage the Django Administration Console</h4>
                            <div>
                                <p>GeoNode provides a customized version of the default Django Administration and Management Console which provides an interface for viewing the entire set of modules and data that make up a GeoNode instance and to perform bulk operations. The console can also be used to do basic usage monitoring and to monitor user-provided content. 
                                </p>
                            <ul class="unstyled">
                                <li>Metadata editing</li>
                                <li>Bulk operations</li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="hide continue">
            <div class="container">
                <a href="#">Continue</a>
            </div>
        </section>
{% endblock content %}
