{% extends "base.html" %}

{% block title %} Admin Features — {{ block.super }} {% endblock %}

{% block body_class %}geonode-features{% endblock %}

{% block content %}
        <section class="banner">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <h1>
                            <strong>Hello Administrator,</strong>,<br />
                            <span>Let us introduce the administrative features of <strong>GeoNode</strong>.</span>
                        </h1>
                        <p>
                            This tour will introduce the features of GeoNode, a complete web mapping solution.
                        </p>
                        <div class="">
                            <a href="/workshops/admin/" class="btn btn-success" target="_blank">Follow the Administrators <strong>Workshop</strong></a>
                        </div>
                    </div>
                    <div class="span6">
                        <img src="static/img/features_hero_img.png" width="489" height="216" alt="" class="pull-right hero-img" />
                    </div>
                </div>
            </div>
        </section>
        <section class="body">
            <div class="container">
                <div class="row">
                    <div class="span10">
                        <nav class="subnav">
                            <h5>Administrator Features:</h5>
                            <ul class="unstyled">
                                <li><a href="#ogcsdi">Spatial Data Infrastructure</strong></a></li>
                                <li><a href="#metadata"><strong>Metadata</strong></a></li>
                                <li><a href="#security"><strong>Security</strong></a></li>
                                <li><a href="#scale"><strong>Scaleablity</strong></a></li>
                                <li><a href="#adminconsole"><strong>Admin Console</strong></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature-details" id="ogcsdi">
            <div class="container">
                <div class="row">
                    <div class="span5">
                        <img src="static/img/iphone_explore_maps.png" width="309" height="700" alt="Explore Maps" class="feature-img" />
                    </div>
                    <div class="span7 number one">
                        <div class="highlighted-box">
                            <h2>OGC Compliant SDI</strong></h2>
                            <h4>Essential components for deploying OGC SDI</h4>
                            <ul class="unstyled">
                                <li>WMS/WFS/WCS/WMC</li>
                                <li>CSW</li>
                            </ul>
                            <a href="ogc_sdi.html" class="hide btn btn-success">Learn about GeoNode for SDI</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature-details feature2" id="metadata">
            <div class="container">
                <div class="row">
                    <div class="span7 number two">
                        <div class="highlighted-box">
                            <h2>Metadata</strong></h2>
                            <h4>Metadata Catalogue, Authoring and Management</h4>
                            <ul class="unstyled">
                                <li>CSW</li>
                                <li>Upload</li>
                                <li>Search</li>
                                <li>Format Support</li>
                                <li>Versioning</li>
                            </ul>
                            <a href="catalogue_metadata.html" class="hide btn btn-success">Learn about GeoNode's Metadata Capabilities</a>
                        </div>
                    </div>
                    <div class="span5">
                        <img src="static/img/globe.png" width="347" height="469" alt="Globe" class="feature-img" />
                    </div>
                </div>
            </div>
        </section>
        <section class="feature-details feature3" id="security">
            <div class="container">
                <div class="row">
                    <div class="span5">
                        <img src="static/img/iphone_geonode.png" width="309" height="700" alt="Iphone Geonode" class="feature-img" />
                    </div>
                    <div class="span7 number three">
                        <div class="highlighted-box">
                            <h2>Security</strong></h2>
                            <h4>Security Framework.</h4>
                            <ul class="unstyled">
                                <li>Permissions</li>
                            </ul>
                            <a href="security.html" class="hide btn btn-success">Learn about GeoNode's Security Framework</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature-details feature2" id="scale">
            <div class="container">
                <div class="row">
                    <div class="span7 number two">
                        <div class="highlighted-box">
                            <h2>Scalability</strong></h2>
                            <h4>Scalability, reliability</h4>
                            <ul class="unstyled">
                            </ul>
                            <a href="scale.html" class="hide hide btn btn-success">Learn about Deploying and Scaling GeoNode</a>
                        </div>
                    </div>
                    <div class="span5">
                        <img src="static/img/globe.png" width="347" height="469" alt="Globe" class="feature-img" />
                    </div>
                </div>
            </div>
        </section>
      <section class="feature-details feature3" id="adminconsole">
            <div class="container">
                <div class="row">
                    <div class="span5">
                        <img src="static/img/iphone_geonode.png" width="309" height="700" alt="Iphone Geonode" class="feature-img" />
                    </div>
                    <div class="span7 number three">
                        <div class="highlighted-box">
                            <h2>Administration Console</strong></h2>
                            <h4>Django Administrator Console</h4>
                            <ul class="unstyled">
                                <li>Metadata Editing</li>
                                <li>Bulk Operations</li>
                            </ul>
                            <a href="admin_console.html" class="hide btn btn-success">Learn about GeoNode's Admin Console</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="continue">
            <div class="container">
                <a href="#">Continue</a>
            </div>
        </section>
{% endblock content %}
