{% extends "base.html" %}

{% block title %} Catalogue Metadata — {{ block.super }} {% endblock %}

{% block body_class %}geonode-features{% endblock %}

{% block content %}
{% include "_admin_features.html" %}
        <section class="feature-detail">
            <div class="container">
                <div class="row">
                    <div class="span7">
                        <h1>Metadata Catalogue and Management</h1>
                        <article class="article1">
                            <h5>Standards-based metadata management</h5>
                            <ul>
                                <li>create and edit geospatial metadata</li>
                                <li>publish to multiple formats (ISO, FGDC, DIF, etc.)</li>
                                <li>upload metadata</li>
                                <li>connect and federate with CSW</li>
                            </ul>
                        </article>

                        <div class="box2">
                            <h4><a href="http://docs.geonode.org/en/dev/developers/reference/django-apps.html#id1">Learn More About</a></h4>
                        </div>
                    </div>
                    <div class="span4 offset1">
                        <img src="static/img/iphone_explore_maps.png" width="309" height="700" alt="Explore Maps" class="pull-right" />
                        <a href="security.html" class="btn btn-warning btn-next pull-right">
                            <span class="arrow-right">Next: <strong>Security</strong></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}
