{% extends "base.html" %}

{% block title %} GeoNode sprint code 2015 {% endblock %}

{% block body_class %}geonode-features user-features{% endblock %}

{% block content %}
        <section class="banner">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <h1>
                            <strong>GeoNode code sprint 2015</strong><br />
                            <span>Join the GeoNode code sprint! 2 - 5th February 2015 in Venice and Washington DC.</span>
                    </h1>
                        <div>
                            <a href="http://www.ismar.cnr.it/index_html-1?set_language=en&cl=en" class="btn btn-success" target="_blank">@ <strong>CNR - ISMAR</strong></a>
                            <a href="http://www.openstreetmap.org/?mlat=45.4374&mlon=12.3556#map=16/45.4374/12.3556" class="btn btn-success" target="_blank"><strong>Map</strong></a>
                        </div>
                        <div style="margin-top:10px;">
                            <a href="http://energy.gov/" class="btn btn-success" target="_blank">@ <strong>DOE</strong></a>
                            <a href="https://www.google.it/maps/place/U.S.+Department+of+Energy/@38.887036,-77.025144,16z/data=!4m5!1m2!2m1!1swashington+dc+DOE!3m1!1s0x89b7b79db45f8d13:0x42a3dbb35f0a3eee" class="btn btn-success" target="_blank"><strong>Map</strong></a>
                        </div>
                    </div>
                    <div class="span6">
                        <img src="static/img/features_hero_img.png" width="489" height="216" alt="" class="pull-right hero-img" />
                    </div>
                </div>
            </div>
        </section>
        <section class="body">
            <div class="container">
                <div class="row">
                    <div class="span10">
                        <nav class="subnav">
                            <h5>Topics:</h5>
                            <ul class="unstyled" id="subnav">
                                <li><a href="#discover"><strong>GeoNode 2.4</strong></a></li>
                                <li><a href="#import"><strong>2.5+ roadmap</strong></a></li>
                                <li><a href="#mapping"><strong>Accomodations</strong></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature-details feature1" id="explore">
            <div class="container">
                <div class="row">
                    <div class="span5">
                        <img src="static/img/noun_project_17976.svg.png" width="250" height="250" alt="Explore Maps" class="feature-img" />
                    </div>
                    <div class="span7 number one">
                        <div class="highlighted-box">
                            <h2>GeoNode 2.4!</h2>
                            <h4>Release!</h4>
                            <div>
                                <p>From the 2nd to the 4th of February, users and developers will sit together to make the final release of the version 2.4.</p>
                                <p>Everyone can help by giving suggestions, write documentation or develop.</p>
                                <p>The venue in DC is @18F's office (<a href="https://18f.gsa.gov/">https://18f.gsa.gov/</a>) within the General Service Administration (GSA)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature-details feature2" id="import">
            <div class="container">
                <div class="row">
                    <div class="span7 number two">
                        <div class="highlighted-box">
                            <h2>2.5+ roadmap</strong></h2>
                            <h4>What's next?</h4>
                            <div>
                                <p>
                                On the 5th everyone will sit together to define what feature GeoNode 2.5+ should have.</p>
                                <p>This will be an open discussion with the goal of come out with GNIPs and tickets that has to be addresses before the next release.
                                </p>The Venue @Department of Energy HQ <a href="https://www.google.it/maps/place/U.S.+Department+of+Energy/@38.887036,-77.025144,16z/data=!4m5!1m2!2m1!1swashington+dc+DOE!3m1!1s0x89b7b79db45f8d13:0x42a3dbb35f0a3eee">(1000 Independence Ave SW, DC)</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <img src="static/img/noun_project_463.svg.png" width="220" height="220" alt="Explore Maps" class="feature-img" />
                    </div>
                </div>
            </div>
        </section>
        <section class="feature-details feature3" id="mapping">
            <div class="container">
                <div class="row">
                    <div class="span5">
                        <img src="static/img/noun_project_1670.svg.png" width="300" height="300" alt="Explore Maps" class="feature-img" />
                    </div>
                    <div class="span7 number three">
                        <div class="highlighted-box">
                            <h2>Accomodations</strong></h2>
                            <h4>Some suggestions for hotels</h4>
                                <div>
                                    <p>Here some places where you can book for accomodation in Venice</p>
                                </div>
                            <ul class="unstyled">
                                <li><a href="http://www.hotelsangeremia.com/">Hotel San Geremia</a></li>
                                <li><a href="http://www.hoteltrearchi.com/">Hotel Tre Archi</a></li>
                                <li><a href="http://www.we-crociferi.it">We_Crociferi</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% comment %}
        <section class="continue">
            <div class="container">
                <a href="#">Continue</a>
            </div>
        </section>
        {% endcomment %}
{% endblock content %}

{% block extra_body %}
    <script type="text/javascript" src="/static/js/scroll.js"></script>
{% endblock extra_body %}

