{% extends "base.html" %}

{% block body_class %}geonode-features{% endblock %}

{% block content %}
        <section class="feature-detail">
            <div class="container">
                <div class="row">
                    <div class="span7">
                        <h1>GeoNode Contributors</h1>
                        <article class="article1">
                            <h5></h5>
<p>There is a vibrant open source community of users and software developers involved in the advancement of the GeoNode platform.   Many thanks to the support of our contributors and institutions including AIFDR,  ANZSM, GFDRR, Global Earthquake Model, Harvard University, ITHACA, MapStory Foundation, NASA SERVIR, OpenGeo, UN WFP, World Bank, and others.</p>

<p>We welcome contributions in the form of code contributions, bug fixes, bug reports, contributed documentation, advocacy and supporting other users on our mailing list. If you are interested in actively supporting the project, you can find more information on  GeoNode’s Github profile.</p>
                        </article>

                        <article class="article2">
                            <h5></h5>
                        </article>

                        <div class="box2">
                            <h4><a href="#">Learn More About</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}
