{% extends "base.html" %}

{% block body_class %}geonode-features{% endblock %}

{% block content %}
        <section class="feature-detail">
            <div class="container">
                <div class="row">
                    <div class="span7">
                        <h1>For Developers</h1>
                        <article class="article1">
                            <h5></h5>
<p>GeoNode is open source software that provides an open service. We encourage you to build new applications using its components and the resources it provides. This page is a starting point for developers interesting in taking full advantage of the GeoNode. It also includes links to the project’s source code so anyone can build and customize their own GeoNode.</p>
<ul>
<li>Code repository on GitHub</li>
<li>Issue tracker on GitHub</li>
<li>Releases</li>
<li>Developer mailing list</li>
<li>User mailing list</li>
<li>GeoNode Documentation</li>
<li>GeoNode Debian Package</li>
</ul>
						</article>

                        <article class="article1">
                            <h5>What is GeoNode made out of?</h5>
<p>The GeoNode is built using several open source projects, each with its own community. If you are interested in contributing new features to the GeoNode, we encourage you to do so by contributing to one of the projects on which it is built:</p>

<ul>
<li>Django – A high-level Python web framework that encourages rapid development and clean, pragmatic design.</li>
<li>GeoExt – The JavaScript toolkit for rich web mapping applications.</li>
<li>OpenLayers – Pure JavaScript library powering the maps of GeoExt.</li>
<li>GeoWebCache – Cache engine for WMS Tiles.</li>
<li>GeoServer – Standards based server for geospatial information.</li>
</ul>
						</article>

						<article class="article1">
                            <h5>What are OGC Services?</h5>
<p>The data provided in a GeoNode is served using open standards endorsed by the Open Geospatial Consortium; in particular, WMS (Web Mapping Service) is used for accessing maps and WFS (the Web Feature Service) is used for accessing data. You can use these services in your own applications using libraries such as OpenLayers, GeoTools, and OGR (all of which are open-source software and available at zero cost).</p>
                        </article>

                        <div class="box2">
                            <h4><a href="#">Learn More About</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}
