{% extends "base.html" %}

{% block body_class %}geonode-features{% endblock %}

{% block content %}
{% include "_dev_features.html" %}
        <section class="feature-detail">
            <div class="container">
                <div class="row">
                    <div class="span7">
                        <h1>Django</strong></h1>
                        <article class="article1">
                            <h5>GeoNode is based on the Django web framework</h5>
                        </article>

                        <article class="article2">
                            <h5>Pluggable Django Apps</h5>
                        </article>

                        <article class="article2">
                            <h5>Deployable Template GeoNode projects</h5>
                        </article>

                        <article class="article2">
                            <h5>Integrated Admin Interface</h5>
                        </article>

                        <article class="article2">
                            <h5>Large ecosystem of third-party pluggable apps</h5>
                        </article>
                        <article class="article2">
                            <h5>GeoDjango Spatial ORM</h5>
                        </article>
                        <div class="box2">
                            <h4><a href="http://docs.geonode.org/en/latest/#for-developers">Read the Developer Documentation</a></h4>
                        </div>
                    </div>
                    <div class="span4 offset1">
                        <img src="static/img/iphone_explore_maps.png" width="309" height="700" alt="Explore Maps" class="pull-right" />
                        <a href="bootstrap_jquery.html" class="btn btn-warning btn-next pull-right">
                            <span class="arrow-right">Next: <strong>Bootstrap and jQuery</strong></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}
