{% extends "user_features.html" %}

{% block title %} Explore and Discover — {{ block.super }} {% endblock %}

{% block content %}
{% include "_user_features.html" %}
        <section class="feature-detail">
            <div class="container">
                <div class="row">
                    <div class="span7">
                        <h1>Explore and Discover</strong></h1>
                        <article class="article1">
                            <h5>Explore and Discover Spatial Data</h5>
                            <p></p>

                            <p></p>
                            
                        </article>

                        <article class="article2">
                    </div>
                    <div class="span4 offset1">
                        <img src="static/img/iphone_explore_maps.png" width="309" height="700" alt="Explore Maps" class="pull-right" />
                        <a href="import_manage.html" class="btn btn-warning btn-next pull-right">
                            <span class="arrow-right">Next: Import & Manage</strong></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}
