{% extends "base.html" %}

{% block title %} GeoNode Gallery — {{ block.super }} {% endblock %}

{% block body_class %}geonode-gallery{% endblock %}

{% block content %}

        <section class="banner">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <h1>
                            <strong>Hello</strong>,<br />
                            <span>Welcome to the <strong>GeoNode</strong> Gallery.</span>
                        </h1>
                    
                    </div>
                    <div class="span6">
                        <img src="static/img/features_hero_img.png" width="489" height="216" alt="" class="pull-right hero-img" />
                    </div>
                </div>
            </div>
        </section>
        <section class="body">
            <div class="container">
                <div class="row">
                    <div class="span10">
                        <nav class="subnav">
                            <h5>Regions:</h5>
                            <ul class="unstyled">
                                <li><a href="#africa"><strong>Africa</strong></a></li>
                                <li><a href="#americas"><strong>Americas</strong></a></li>
                                <li><a href="#asiapacific"><strong>Asia Pacific</strong></a></li>
                                <li><a href="#europe"><strong>Europe</strong></a></li>
                                <li><a href="#worldwide"><strong>World Wide</strong></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature-details" id="worldwide">
            <div class="container">
                <div class="row">
                    <div class="span5">
                        <img src="static/img/iphone_explore_maps.png" width="309" height="700" alt="Explore Maps" class="feature-img" />
                    </div>
                    <div class="span7 number one">
                        <div class="highlighted-box">
                            <h2>CoSA Web Application</h2>
                            <h4>Created by Ithaca</h4>
                            <div>
                                <p>
                                Ithaca is using GeoNode as a demonstrator of an on line geographic platform with data obtained through 
                                remote sensing techniques and reference data to support the Post Disaster Need 
                                Assessment
                                Find it online at: <a href "http://geonode.ithacaweb.org">http://geonode.ithacaweb.org</a>
				</p>
	                   </div>		                            
 <a href="explore_discover.html" class="hide btn btn-success">Learn about GeoNode's Discovery Features</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% comment %}
   
            </div>
        </section>
{% endcomment %}
{% endblock content %}
