{% extends "base.html" %}

{% block title %} Interoperability — {{ block.super }} {% endblock %}

{% block body_class %}geonode-features{% endblock %}

{% block content %}
{% include "_dev_features.html" %}
        <section class="feature-detail">
            <div class="container">
                <div class="row">
                    <div class="span7">
                        <h1>Interoperability</strong></h1>
                        <article class="article1">
                            <h5>Federation with other GeoNodes</h5>
                        </article>

                        <article class="article2">
                            <h5>Federation with other OGC Compliant SDI (CSW/WMS)</h5>
                        </article>

                        <article class="article2">
                            <h5>Federation with other Open Data Platforms (ckan, junar, socrata)</h5>
                        </article>
                        <article class="article2">
                            <h5>Integrates with other Social Services & Platforms (Twitter, Facebook, Google+, LinkedIn, Jive, Telligent)</h5>
                        </article>
                        <article class="article2">
                            <h5>Integrates with other CMS (Wordpress, Drupal)</h5>
                        </article>
                        <div class="box2">
                            <h4><a href="#">Read more about GeoNode Interoperability</a></h4>
                        </div>
                    </div>
                    <div class="span4 offset1">
                        <img src="static/img/iphone_explore_maps.png" width="309" height="700" alt="Explore Maps" class="pull-right" />
                        <a href="/" class="btn btn-warning btn-next pull-right">
                            <span class="arrow-right">Back to Homepage</strong></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}
