{% extends "base.html" %}

{% block body_class %}geonode-features{% endblock %}

{% block content %}
{% include "_user_features.html" %}
        <section class="feature-detail">
            <div class="container">
                <div class="row">
                    <div class="span7">
                        <h1>Interactive Mapping</strong></h1>
                        <article class="article1">
                            <h5>GeoExplorer</h5>
							<p></p>
							<p></p>
                        </article>

                        <article class="article2">
                            <h5>More About Mapping</h5>
							<p></p>
							<p></p>

                        </article>

                        <div class="box2">
                            <h4><a href="#">Find out more about GeoExplorer</a></h4>
                        </div>
                    </div>
                    <div class="span4 offset1">
                        <img src="static/img/iphone_explore_maps.png" width="309" height="700" alt="Explore Maps" class="pull-right" />
                        <a href="collaboration.html" class="btn btn-warning btn-next pull-right">
                            <span class="arrow-right">Next: Collaboration</strong></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}
