{% extends "base.html" %}

{% block title %} Spatial Data Infrastructure — {{ block.super }} {% endblock %}

{% block body_class %}geonode-features{% endblock %}

{% block content %}
{% include "_admin_features.html" %}
        <section class="feature-detail">
            <div class="container">
                <div class="row">
                    <div class="span7">
                        <h1>OGC Compliant Spatial Data Infrastructure</h1>
                        <article class="article1">
                            <h5></h5>
                        </article>

                        <article class="article2">
                            <h5></h5>
                        </article>

                        <div class="box2">
                            <h4><a href="#">Learn More About</a></h4>
                        </div>
                    </div>
                    <div class="span4 offset1">
                        <img src="static/img/iphone_explore_maps.png" width="309" height="700" alt="Explore Maps" class="pull-right" />
                        <a href="catalog_metadata.html" class="btn btn-warning btn-next pull-right">
                            <span class="arrow-right">Next: <strong>Metadata</strong></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}
