{% extends "base.html" %}

{% block title %} Resources — {{ block.super }} {% endblock %}

{% block body_class %}geonode-features{% endblock %}

{% block content %}
        <section class="feature-detail">
            <div class="container">
                <div class="row">
                    <div class="span7">
                        <h1>Resources</h1>
                        <article class="article1">
                            <h5></h5>
                        </article>

                        <article class="article2">
                            <h5></h5>
                        </article>

                        <div class="box2">
                            <h4><a href="#">Learn More About</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}
