{% extends "base.html" %}

{% block title %} User Features — {{ block.super }} {% endblock %}

{% block body_class %}geonode-features{% endblock %}

{% block content %}
        <section class="banner">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <h1>
                            <strong>Hello User</strong>,<br />
                            <span>Learn more about the user features of <strong>GeoNode</strong>, a complete web mapping solution.</span>
	                </h1>
                        <div>
                            <a href="/workshops/user/" class="btn btn-success" target="_blank">Follow our <strong>Users Workshop</strong></a>
                        </div>
                    </div>
                    <div class="span6">
                        <img src="static/img/features_hero_img.png" width="489" height="216" alt="" class="pull-right hero-img" />
                    </div>
                </div>
            </div>
        </section>
        <section class="body">
            <div class="container">
                <div class="row">
                    <div class="span10">
                        <nav class="subnav">
                            <h5>Features:</h5>
                            <ul class="unstyled">
                                <li><a href="#explore"><strong>Explore and Discover</strong></a></li>
                                <li><a href="#import"><strong>Import and Manage</strong></a></li>
                                <li><a href="#mapping"><strong>Interactive Mapping</strong></a></li>
                                <li><a href="#collaboration"><strong>Collaboration</strong></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature-details" id="explore">
            <div class="container">
                <div class="row">
                    <div class="span5">
                        <img src="static/img/iphone_explore_maps.png" width="309" height="700" alt="Explore Maps" class="feature-img" />
                    </div>
                    <div class="span7 number one">
                        <div class="highlighted-box">
                            <h2>Spatial Data Discovery</h2>
                            <h4>Browse and search for geospatial data</h4>
                            <div>
                                <p>By enabling the kind of collaboration that has previously been limited to social networks and combining it with specialized geospatial tools, GeoNode makes it easy to explore, discover, process, style, combine and share geospatial data and maps.</p>
							    <p>By providing a non-technical user focused experience, spatial datasets can be easily imported and shared publicly or restricted to allow access to only specific users or groups.</p><p>
							    Features include:
							    </p>
							</div>

							                            <ul class="unstyled">
							                                <li>Powerful Spatial Search Engine</li>
							                                <li>Federated OGC Servers</li>
							                                <li>Metadata Catalogue</li>
							                            </ul>
 <a href="explore_discover.html" class="hide btn btn-success">Learn about GeoNode's Discovery Features</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature-details feature2" id="import">
            <div class="container">
                <div class="row">
                    <div class="span7 number two">
                        <div class="highlighted-box">
                            <h2>Import & Manage</strong></h2>
                            <h4>Upload and securely share geospatial data</h4>
                          <div>
					                            	 <p>
					                            	 GeoNode makes it easy to upload and manage spatial data layers on the web. Any user can upload data layers and make them available via OGC services. Data Layers are available for browsing, searching, styling, processing and combining to make maps that can be shared with specific users or publicly.</p>
					                            	 <p>Supported upload formats include Shapefiles, GeoTiffs, KML and CSV. Your GeoNode administrator can also help you connect to existing spatial databases, services and specialized raster and vector formats</br>
					                            	 Features include:
					                            	</p>
					                            </div>

					                            <ul class="unstyled">
					                                <li>Import and publish raster, vector and tabular data</li>
					                                <li>Manage layers Metadata and associated Documents</li>
					                                <li>Securely or Publicly Share data</li>
					                                <li>GIS Data Editor (versioning)</li>

					                            </ul>
                            <a href="import_manage.html" class="hide btn btn-success">Learn about GeoNode's Data Management Features</a>
                        </div>
                    </div>
                    <div class="span5">
                        <img src="static/img/globe.png" width="347" height="469" alt="Globe" class="feature-img" />
                    </div>
                </div>
            </div>
        </section>
        <section class="feature-details feature3" id="mapping">
            <div class="container">
                <div class="row">
                    <div class="span5">
                        <img src="static/img/gxp-OSM.jpg" width="468" height="277" alt="GeoExplorer" class="feature-img" />
                    </div>
                    <div class="span7 number three">
                        <div class="highlighted-box">
                            <h2>Interactive Mapping</strong></h2>
                            <h4>Create and Share Interactive Web Maps</h4>
                         
								<div>
									<p>GeoNode comes with helpful cartography tools for styling and composing maps through the web. These tools make it easy for anyone to assemble a browser based mapping application with functionality traditionally found in the desktop GIS world.</p>
									<p>Users can add and style, style and publish layers with ease. By leveraging GeoExplorer users gain enhanced interactivity with GIS specific tools like identify, query, measure, create feature, and more.</br>
									Features include:
									</p>
								</div>
	   <ul class="unstyled">
                                <li>GeoExplorer GIS Client</li>
                                <li>Interactively Style Editor</li>
                                <li>Create multi-layer and service maps</li>
                                <li>Share and embed interactive maps</li>
                            </ul>
                            <a href="mapping.html" class="hide btn btn-success">Learn about GeoNode's Mapping Features</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature-details feature2" id="collaboration">
            <div class="container">
                <div class="row">
                    <div class="span7 number four">
                        <div class="highlighted-box">
                            <h2>Collaboration</strong></h2>
                            <h4>Social & Collaborative features</h4>
							<div>
								<p>GeoNode is all about collaboration. With feature-rich web-based editing and map styling, easy data sharing, and OGC-compliant service endpoints, GeoNode enables the kind of collaboration that has previously been limited to social networks and specialized geospatial tools.</p>
								<p>GeoNode is designed to share data simply and easily through crating collaborating. <br>Features include: 	
								</p>
							</div>
                            <ul class="unstyled">
                                <li>Review, rate, and comment</li>
                                <li>User groups</li>
                                <li>Activity stream</li>
                                <li>Announcements and notifications</li>
                            </ul>
                            <a href="collaboration.html" class="hide btn btn-success">Learn about GeoNode's Collaboration Features</a>
                        </div>
                    </div>
                    <div class="span5">
                        <img src="static/img/globe.png" width="347" height="469" alt="Globe" class="feature-img" />
                    </div>
                </div>
            </div>
        </section>
		{% comment %}
        <section class="continue">
            <div class="container">
                <a href="#">Continue</a>
            </div>
        </section>
		{% endcomment %}
{% endblock content %}
