        <section class="body">
            <div class="container">
                <div class="row">
                    <div class="span10">
                        <nav class="subnav">
                            <h5><a href="admin_features.html">Administrator Features:</a></h5>
                            <ul class="unstyled">
                                <li><a href="ogc_sdi.html">Spatial Data Infrastructure</strong></a></li>
                                <li><a href="catalogue_metadata.html"><strong>Metadata</strong></a></li>
                                <li><a href="security.html"><strong>Security</strong></a></li>
                                <li><a href="scale.html"><strong>Scaleablity</strong></a></li>
                                <li><a href="admin_console.html"><strong>Admin Console</strong></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="span2">
                        <div class="pull-right link-extra">
                            <a href="{{ admin_workshop }}" target="_blank">Follow the Administrators <strong>Workshop</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
