        <section class="body">
            <div class="container">
                <div class="row">
                    <div class="span10">
                        <nav class="subnav">
                            <h5><a href="dev_features.html">Developer Features:</a></h5>
                            <ul class="unstyled">
                                <li><a href="opensource_geospatial.html">Open Source Geospatial</strong></a></li>
                                <li><a href="django.html">Django</strong></a></li>
                                <li><a href="bootstrap_jquery.html">Bootstrap and jQuery</strong></a></li>
                                <li><a href="apis.html">APIs</strong></a></li>
                                <li><a href="interoperability.html">Interoperability</strong></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="span2">
                        <div class="pull-right link-extra">
                            <a href="{{ dev_workshop }}" target="_blank">Follow the <strong>Developer Workshop</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
