        <section class="body">
            <div class="container">
                <div class="row">
                    <div class="span10">
                        <nav class="subnav">
                            <h5><a href="gallery.html">Gallery:</a></h5>
                            <ul class="unstyled">
                                <li><a href="#africa"><strong>Africa</strong></a></li>
                                <li><a href="#americas"><strong>Americas</strong></a></li>
                                <li><a href="#asiapacific"><strong>Asia Pacific</strong></a></li>
                                <li><a href="#europe"><strong>Europe</strong></a></li>
                                <li><a href="#worldwide"><strong>World Wide</strong></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="span2">
                        <div class="pull-right link-extra">
                            <a href="{{ users_workshop }}" target="_blank">Follow our <strong>Users Workshop</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
