        <section class="body">
            <div class="container">
                <div class="row">
                    <div class="span10">
                        <nav class="subnav">
                            <h5><a href="user_features.html">User Features:</a></h5>
                            <ul class="unstyled">
                                <li><a href="explore_discover.html"><strong>Explore and Discover</strong></a></li>
                                <li><a href="import_manage.html"><strong>Import and Manage</strong></a></li>
                                <li><a href="mapping.html"><strong>Interactive Mapping</strong></a></li>
                                <li><a href="collaboration.html"><strong>Collaboration</strong></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="span2">
                        <div class="pull-right link-extra">
                            <a href="{{ users_workshop }}" target="_blank">Follow our <strong>Users Workshop</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
