{% extends "base.html" %}

{% block body_class %}geonode-features{% endblock %}

    {% block contentwrap %}
     <section class="feature-detail">
            <div class="container">
                <div class="row">
                    <div class="span7">
                        <h1>{% block blogtitle %}{% endblock %}</h1> 
                        <article class="article1">
    {% block content %}
    {% endblock %}
                        </article>
                </div>
            </div>
        </section>
    {% endblock %}
