{% extends "base.html" %}

{% block title %} Workshops — {{ block.super }} {% endblock %}

{% block body_class %}workshops{% endblock %}

{% block content %}
    <section class="feature-detail">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <article class="comm-email">
                        <h1>Workshops</h1>
                        <p>The tutorials are based around performing tasks, like adding data or publishing maps. The tutorials are written in a workshop like format and are broken into three groups Users, Administrators and Developers.</p>
                    </article>
                </div>
                <div class="span4">
                    <article class="article1">
                        <img src="../static/img/user.png" width="72" alt="" class="icon" />
                        <h4><a href='http://docs.geonode.org/en/latest/users/index.html'>Users Workshop</a></h4>
                        <p>In the user workshop you will learn how to create an account on Geonode, add layers and maps to your account as well as publishing those.</p>
                    </article>
                </div>
                <div class="span4">
                    <article id="mailing-lists" class="article1">
                        <img src="../static/img/admin.png" width="72" alt="" class="icon" />
                        <h4><a href='http://docs.geonode.org/en/latest/deploy/install.html'>Administrators Workshop</a></h4>
                        <p>The administrator workshop will guide you through the installation and configuration of Geonode, as well as explore further possibilities with Geonode.</p>
                    </article>
                </div>
                <div class="span4">
                    <article id="irc" class="article1">
                        <img src="../static/img/dev.png" width="72" alt="" class="icon" />
                        <h4><a href='http://docs.geonode.org/en/latest/developers/setup.html'>Developers Workshop</a></h4>
                        <p>The developers workshop will show you how to set up your own Genode project, start developing, customizing, integrating, bug fixing etc.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}