---
layout: blank
---
<!doctype html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    {% for dns in site.dns_prefetch %}
    <link rel="dns-prefetch" href="{{ dns }}">
    {% endfor %}
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="{{ site.baseurl }}/static/img/favicon.ico" />
    <link type="application/atom+xml" rel="alternate" href="http://geonode.org/blog/feed.xml" title="GeoNode" />
    <meta name="description" content="{{ site.description }}"/>
    <meta name="keywords" content="{{ site.keywords | join: ", " }}"/>
    {% for font in site.fonts %}
    <link href="https://fonts.googleapis.com/css?family={{ font }}" rel="stylesheet" type="text/css">
    {% endfor %}
    <link rel="stylesheet" href="{{site.baseurl}}/static/css/site.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{site.baseurl}}/static/css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{site.baseurl}}/static/css/font-awesome.min.css">
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Google Analytics -->
    {% if site.ga.enabled == true %}
      {% include analytics/analytics_ga_snippet.html %}
    {% endif %}
  </head>
  <body class="{{ page.body_class }}">
    {% include header.html %}
    {{ content }}
    <a href="https://github.com/GeoNode/geonode/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
    <script type="text/javascript" src="{{site.baseurl}}/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/static/js/sequence.jquery-min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/static/js/bootstrap.min.js"></script>
  </body>
</html>
